
@{
    ViewData["Title"] = "Admin";
}

<h1>Administration Tools</h1>
<ul class="navbar-nav flex-grow-1">

    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="People" asp-action="Index">Add, Edit, List, People</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="PersonTypes" asp-action="Index">Add, Edit, List Person Types</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Clubs" asp-action="Index">Add, Edit, List Clubs</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Companies" asp-action="Index">Add, Edit, List Companies</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Districts" asp-action="Index">Add, Edit, List Districts</a>
    </li>
</ul>

