
@{
    ViewData["Title"] = "Admin";
}

<h1>ADMIN Tools</h1>
<ul class="navbar-nav flex-grow-1">

    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Activities" asp-action="Index">Add, Edit, List, Activities</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="ActivityTypes" asp-action="Index">Add, Edit, List, ActivityTypes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Arenas" asp-action="Index">Add, Edit, List, Arenas</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Camps" asp-action="Index">Add, Edit, List Camps</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Clubs" asp-action="Index">Add, Edit, List Clubs</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Companies" asp-action="Index">Add, Edit, List Companies</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Districts" asp-action="Index">Add, Edit, List Districts</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="MatchCategories" asp-action="Index">Add, Edit, List Match Categories</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Matches" asp-action="Index">Add, Edit, List Matches</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="People" asp-action="Index">Add, Edit, List People</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="PersonTypes" asp-action="Index">Add, Edit, List Person Types</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Receipts" asp-action="Index">Add, Edit, List Receipts</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Teams" asp-action="Index">Add, Edit, List Teams</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Tournaments" asp-action="Index">Add, Edit, List Tournaments</a>
    </li>
</ul>
<h1>System Tools Testing manualy !</h1>
<ul class="navbar-nav flex-grow-1">

    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="PeopleToActivities" asp-action="Index">Add, Edit, List, PeopleToActivities</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="GamesToActivities" asp-action="Index">Add, Edit, List, GamesToActivities</a>
    </li>

</ul>

<h1>Poolgames</h1>
<ul class="navbar-nav flex-grow-1">

    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="PoolGames" asp-action="ListPoolGames">List Poolgames</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="PoolGameReceipts" asp-action="Index">Add, Edit, List, Poolgame receipts</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="PoolGames1" asp-action="Index">Add, Edit, List, Poolgames</a>
    </li>

</ul>
