@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to TMP2019</h1>
    <p>TMP2019 the APP that solves your planning !</p>
</div>
<div class="text-center">
    
        <a><img src="~/img/TMP2019.jpg" /></a>
    
</div>
