
@{
    ViewData["Title"] = "Links";
}

<h1>Links</h1>

<h2>Stockholms Ishockeyförbund</h2>

<ul style="list-style-type:square;">
    <li><a href="http://www.stockholmhockey.se/Domare/domaretilltraningsmatcher/" target="_blank">Domartillsättning för träningsmatcher U16-DIV4</a></li>
    <li><a href="https://adm.swehockey.se/" target="_blank">TSM - Svenska Ishockeyförbundet</a></li>    
</ul>

<h2>Haninge Anchors HC</h2>

<ul style="list-style-type:square;">
    <li><a href="https://www.svenskalag.se/haningeanchors" target="_blank">Haninge Anchors HC</a></li>
    <li><a href="http://admin.istiden.se/ut/haninge-anchors-hc/torvalla-ishall" target="_blank">Istider T1</a></li>
    <li><a href="http://admin.istiden.se/ut/haninge-anchors-hc/torvalla-2" target="_blank">Istider T2</a></li>
    <li><a href="http://admin.istiden.se/ut/haninge-anchors-hc/haribo-hallen" target="_blank">Istider Hanveden</a></li>
</ul>

<h2>AIK</h2>

<ul style="list-style-type:square;">
    <li><a href="https://www.svenskalag.se/aikhockey" target="_blank">AIK Ishockeyförening</a></li>
    <li><a href="http://admin.istiden.se/ut/aik/ulriksdals-ip-hall-1" target="_blank">Istider Ulriksdals IP Hall 1</a></li>
    <li><a href="http://admin.istiden.se/ut/aik/ulriksdals-ip-hall-2" target="_blank">Istider Ulriksdals IP Hall 2</a></li>
    <li><a href="http://admin.istiden.se/ut/aik/ulriksdals-ip-hall-3" target="_blank">Istider Ulriksdals IP Hall 3</a></li>
</ul>

<h2>Externa siter</h2>

<ul style="list-style-type:square;">
    <li><a href="https://cleverservice.se/" target="_blank">Cleverservice</a></li>    
</ul>