
@{
    ViewData["Title"] = "TMPHockey";
}

<h1>TMP Hockey</h1>

<ul class="navbar-nav flex-grow-1">

    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Games" asp-action="Index">Add, Edit, List, Games</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="GameCategories" asp-action="Index">Add, Edit, List, Game Categories</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Arenas" asp-action="Index">Add, Edit, List, Arenas</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="People" asp-action="Index">Add, Edit, List People</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Teams" asp-action="Index">Add, Edit, List Teams</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="GameStatus" asp-action="Index">Add, Edit, List Game Status</a>
    </li>
</ul>
