
@{
    ViewData["Title"] = "AccountingIndex";
}

<h1>Game Receipts</h1>

<ul class="navbar-nav flex-grow-1">

    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="GameReceipts" asp-action="GameReceiptsCreated">Game Receipts All Status Created !</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="GameReceipts" asp-action="GamesReceiptDTPAll">Game Receipts All Status Due To Pay !</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="GameReceipts" asp-action="GameReceiptsPaid">Game Receipts All Status Paid !</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="GameReceipts" asp-action="GameReceiptCreated">Game Receipts POREST  Status Created !</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="GameReceipts" asp-action="GamesReceiptDTP">Game Receipts POREST  Status Due To Pay !</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="GameReceipts" asp-action="GamesReceiptPaid">Game Receipts POREST Status Paid !</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="GameReceipts" asp-action="GRsHAHC">Game Receipts Status HAHC !</a>
    </li>
</ul>

<h1>Referee Fees Handling</h1>
<ul class="navbar-nav flex-grow-1">

    
</ul>