
@{
    ViewData["Title"] = "AccountingIndex";
}

<h1>Game Receipts</h1>

<ul class="navbar-nav flex-grow-1">
       
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="GameReceipts" asp-action="GameReceiptCreated">Game Receipts POREST  Status Created !</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="GameReceipts" asp-action="GamesReceiptDTP">Game Receipts POREST  Status Due To Pay !</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="GameReceipts" asp-action="GamesReceiptPaid">Game Receipts POREST Status Paid !</a>
    </li>
</ul>

<h1>Referee Fees Handling</h1>
<ul class="navbar-nav flex-grow-1">

    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="RefFees" asp-action="Index">Referee Fees</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="FeeCategories" asp-action="Index">Referee Fee Categories</a>
    </li>
    
</ul>